

body{
    color: aliceblue;
    /* margin-top: 15%; */
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: black; */
    /* background: url("./windows_xp_original-wallpaper-1920x1080.jpg") center center / cover no-repeat fixed */

    
}

.hidden{

    display: none;
}

.window{
  margin-block-start: 5em;
}

.container {
    height: 100vh;
    align-items: center;
    width: 300px;
    height: 10px;
    border: 2px solid #b2b2b2;
    border-radius: 7px;
    margin: 0 auto;
    padding: 2px 1px;
    overflow: hidden;
    font-size: 0;
  }
  
  .box {
    width: 9px;
    height: 100%;
    background: linear-gradient(to bottom, #2838c7 0%,#5979ef 17%,#869ef3 32%,#869ef3 45%,#5979ef 59%,#2838c7 100%);
    display: inline-block;
    margin-right: 2px;
    animation: loader 2s infinite;
    animation-timing-function: linear;
  }
  
  .logo {
    width: 220px;
    margin: 50px auto;
    margin-top: 30px;
  }
  
  .logo p {
    margin: 0;
    padding: 0;
  }
  
  .top {
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
  }
  
  .top:after {
    content: "\00a9";
    font-size: 10px;
    position: relative;
    top: -5px;
    margin-left: 2px;
  }
  
  .mid {
    font-size: 46px;
    font-weight: 700;
    line-height: 36px;
  }
  
  .mid span {
    font-size: 22px;
    display: inline;
    vertical-align: top;
    color: #FF6821;
    margin-top: -8px;
  }
  
  .logo .bottom {
    font-size: 30px;
    font-weight: 300;
    line-height: 30px;
    margin-left: 5px;
  }
  
  @keyframes loader {
    0% {
      transform: translate(-30px);
    }
  
    100% {
      transform: translate(300px);
    }
  }
  

footer {
    height: 30px;
 
    background: linear-gradient(rgb(31, 47, 134) 0px, rgb(49, 101, 196) 3%, rgb(54, 130, 229) 6%, rgb(68, 144, 230) 10%, rgb(56, 131, 229) 12%, rgb(43, 113, 224) 15%, rgb(38, 99, 218) 18%, rgb(35, 91, 214) 20%, rgb(34, 88, 213) 23%, rgb(33, 87, 214) 38%, rgb(36, 93, 219) 54%, rgb(37, 98, 223) 86%, rgb(36, 95, 220) 89%, rgb(33, 88, 212) 92%, rgb(29, 78, 192) 95%, rgb(25, 65, 165) 98%);
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    display: flex;
  }

.left {
    height: 100%;
    flex: 1 1 0%;
    overflow: hidden;
}

.right {
    flex-shrink: 0;
    background: linear-gradient(rgb(12, 89, 185) 1%, rgb(19, 158, 233) 6%, rgb(24, 181, 242) 10%, rgb(19, 155, 235) 14%, rgb(18, 144, 232) 19%, rgb(13, 141, 234) 63%, rgb(13, 159, 241) 81%, rgb(15, 158, 237) 88%, rgb(17, 155, 233) 91%, rgb(19, 146, 226) 94%, rgb(19, 126, 215) 97%, rgb(9, 91, 201) 100%);
    border-left: 1px solid rgb(16, 66, 175);
    box-shadow: rgb(24, 187, 255) 1px 0px 1px inset;
    padding: 0px 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.start-btn {
    height: 100%;
    margin-right: 10px;
    position: relative;
}

.icon {
    height: 15px;
    width: 15px;
}

.time {
    margin: 0px 5px;
    color: rgb(255, 255, 255);
    font-size: 11px;
    font-weight: lighter;
    text-shadow: none;
}

.app-container{
    position: absolute;
    margin-top: 20px;
    margin-left: 40px;
    top: 0px;
    /* z-index: -1; */
}

.app {
    width: 70px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app > .image {
    width: 30px;
    height: 30px;
}

.app > .image > img {
    width: 30px;
    height: 30px;
    opacity: 1;
}

.app > .text {
    width: 100%;
    font-size: 10px;
    color: white;
    text-shadow: black 0px 1px 1px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.app > .text > p{
   padding: 0px 3px 2px;
   background-color: transparent;
   text-align: center;
   flex-shrink: 1;
}




.windows {
    position: fixed;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 4px rgba(0,0,0,0,0.9), -1px 1px 4px rgba(0,0,0,0,0.9);
    background: #fff;
    width: 660px;
    height: 500px;
    cursor: move;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    border:1px solid #2838c7;
    
}



.header-bg {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background: linear-gradient(rgb(0, 88, 238) 0%, rgb(53, 147, 255) 4%, rgb(40, 142, 255) 6%, rgb(18, 125, 255) 8%, rgb(3, 111, 252) 10%, rgb(2, 98, 238) 14%, rgb(0, 87, 229) 20%, rgb(0, 84, 227) 24%, rgb(0, 85, 235) 56%, rgb(0, 91, 245) 66%, rgb(2, 106, 254) 76%, rgb(0, 98, 239) 86%, rgb(0, 82, 214) 92%, rgb(0, 64, 171) 94%, rgb(0, 48, 146) 100%);
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    height: 28px;
    pointer-events: none;
    overflow: hidden;
}

.window-header {
    display: flex;
    height: 25px;
    line-height: 25px;
    font-weight: 700;
    font-size: 12px;
    font-family: 'Noto Sans';
    text-shadow: rgb(0, 0, 0) 1px 1px;
    color: white;
    position: absolute;
    left: 3px;
    right: 3px;
    align-items: center;
}

.window-header > img {
    width: 15px;
    height: 15px;
    margin-left: 1px;
    margin-right: 3px;
}

.window-header>p{
    font-family: sans-serif;
    flex: 1 1 0%;
    pointer-events: none;
    padding-right: 5px;
    letter-spacing: 0.5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#window-content {
    background-color: #2838c7;
    width: 100%;
    height: 100%;
    margin-top: 1.7em;
}


.button {
  margin-right: 1px;
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 3px;
}

.button>i{
  color: white;
  position: relative;
  right:3px;
}

.fa-xmark{
  padding-left: .1px;
  font-size: 1.2em;
}

.blue {
	background-image: radial-gradient(circle at 90% 90%, rgb(0, 84, 233) 0%, rgb(34, 99, 213) 55%, rgb(68, 121, 228) 70%, rgb(163, 187, 236) 90%, white 100%);
  
}


.red {
	cursor: pointer;
	background-color: red;
  box-shadow: red 0px -1px 2px 1px inset;
}

#myWindow2 {
	top: 0;
	left: 500px;
}


.button-container{
  margin-top: 0;
}