*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    --gap-size: 1.5rem
}


body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(144, 144, 144);
    /* height: 100vh; */
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
    margin-inline: 2em;
}
header {
    text-align: center;
}

h3, p {
    margin: 0;
}

form {
    margin-block: .5em;
    background-color: aliceblue;
    padding: .8em;
    border: 1px solid;
    border-radius: 9px;
    display: flex;
    justify-content: center;
}

label {
    font-weight: 500;
    font-size: .9em;
    margin-inline-end: .4em;
    padding-top: .2em;
}

input:is([type="text"]) {
    border-radius: 9px;
    border: 1px solid;
}

input:is([type="submit"]) {
    border-radius: 99px;
    border: 1px solid;
    margin-inline-start: 1em;
    padding: .2em;
}

input:is([type="submit"]):hover {
    background-color: aquamarine;
}

.profile {
    display: flex;
    background-color: white;
    border-radius: 8px;
    border: 1px solid;
    padding: .375em;
    align-items: center;
    /* justify-content: center; */
}

img {
     max-width: 2em;
     max-height: 2em;
     margin-inline-start: 1em;
     border-radius: 99px;
     align-self: center;
     border: 1px solid;
}

.profile-info{
    width: 100%;
    padding-inline-start: 1em;
    font-weight: 600;
    font-size: .875em;
}

.profile-location {
    margin-block-start: 1em;
    font-weight: 200;
    font-size: .7em;
    justify-self: end;
}

.profile-bio {
    font-weight: 400;
    font-size: 1em
}

.stat-container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    justify-content: center;
    /* margin-block-start: .5em; */
    gap: .5em;
}

.stat-block {
    margin-block-start: .5em;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    align-items: center;
    justify-content: center;
    min-width: 6em;
    min-height: 6em;
    
    border: 1px solid;
    border-radius: 9px;
}

.stat-block > p {
    /* align-self: flex-start; */
    font-weight: 600;
    font-size: 1.5em;
    /* margin-inline-start: 1em; */

}

.stat-block > h3 {
    font-size: .8em;
}

.disabled {
    display: none;
}

.repo {
    margin-block-start: .5em;
    padding: .5em;
    background-color: aquamarine;
    border: 1px solid;
    border-radius: 9px;
}

.heading {
    display: flex;
    justify-content: space-between;

}

.subtitle {
    font-size: .875em;
    margin-block-start: .5em;
}