*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    --gap-size: 1.5rem;
    --cream: #FEF9E1;
    --khakhi: #E5D0AC;
    --red: #A31D1D;
    --maroon: #6D2323;
}

body {
    font-family:  'Courier New', Courier, monospace;
    background-color: var(--cream);
}

header {
    text-align: center;
    margin-block-end: 2em;
    margin-block-start: 1em;
}

main {
    border: 3px solid;
    margin-inline: 5em;
    width: 35%;
    margin: auto;
    border-radius: 9px;
    padding-block: 1em;
    text-align: end;
    justify-items: center;
}

h1, h3, p {
    margin: 0;
}

.timezone {
    color: gray;
    font-weight: 600;
}

.date {
    font-weight: 600;
}

.time {
    font-size: 3em;
}