@layer reset, global, modules;

@layer reset {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    body {
        margin: unset;
    }

    button,
    input,
    textarea,
    select {
        font: inherit;
    }

    img,
    picture,
    svg,
    canvas {
        display: block;
        max-width: 100%;
        height: auto;
    }
}

@layer global {
    body {
        font-family: Arial, Helvetica, sans-serif;
    }
}

@layer modules {
    .message {
        padding: 0.8em 1.2em;
        border-radius: 0.2em;
        border: 1px solid #265559;
        color: #265559;
        background-color: #e0f0f2;
    }

    .message--success{
        color: #2f5926;
        border-color: #2f5926;
        background-color: #cfe8c9;
    }

    .message--warning{
        color: #594826;
        border-color: #594826;
        background-color: #e8dec9;
    }

    .message--error{
        color: #59262f;
        border-color: #59262f;
        background-color: #e8c9cf;
    }

}

@layer modules {
    .button {
        padding: 0.5em 0.8em;
        border: 1px solid #265559;
        border-radius: 0.2em;
        background-color: transparent;
        font-size: 1rem;
    }

    .button--success{
        border-color: #cfe8c9;
        color: #fff;
        background-color: #2f5926;
    }

    .button--danger{
        border-color: #e8dec9;
        color: #fff;
        background-color: #a92323;
    }

    .button--small {
        font-size: 0.8rem;
    }

    .button--large {
        font-size: 1.2rem;
    }
}

@layer modules {
    @scope (.media) {
        :scope {
            display: flex;
            gap: 1.5em;
            padding: 1.5em;
            background-color: #eee;
            border-radius: 5px;
        }
    
        :scope.right {
            flex-direction: row-reverse;
        }
        img {
            align-self: start;
        }
    
        .body {
            overflow: auto;
            margin-block-start: 0;
        }
    
        h4 {
            margin-block-start: 0;
            color: #333;
        }
    
    }
}

@layer modules {
    @scope (.hightlight-block) to (.slot) {
        :scope {
            padding: 1em 1.5em;
            background-color: #b3cbe6;
        }

        h1,
        h2,
        h3,
        h4 {
            color: #2b74b9;
    }
}
}

@layer modules {
    @scope (.dropdown) {
        :scope {
            display: inline-block;
            position: relative;
        }
    
        .toggle {
            padding: 0.5em 2em 0.5em 1.5em;
            border: 1px solid #ccc;
            font-size: 1rem;
            background-color: #eee;
        }
    
        .toggle::after{
            content: "";
            position: absolute;
            right: 1em;
            top: 1em;
            border: 0.3em solid;
            border-color: black transparent transparent;
        }
    
        .drawer {
            display: none;
            position: absolute;
            left: 0;
            top: 2.1em;
            min-width: 100%;
            background-color: #eee;
        }
    
        :scope.is-open .toggle::after{
            top: 0.7em;
            border-color:  transparent transparent black;
        }
    
        :scope.is-open .drawer {
            display: block;
        }
    }
}

@layer modules {
    .menu {
        margin-block: 0;
        padding-inline-start: 0;
        list-style-type: none;
        border: 1px solid #999;
    }

    .menu > li + li {
        border-block-start: 1px solid #999;
    }

    .menu > li > a {
        display: block;
        padding: 0.5em 1.5em;
        background-color: #eee;
        color: #369;
        text-decoration: none;
    }

    .menu > li > a:hover {
        background-color: #fff;
    }
}
