*,
::before,
::after {
    box-sizing: border-box;
}

:root{
    --brand-color:#03A65A;
    --highlight-color: #02733E;
    --positive-color:#F2A2B8;
    --text-color: #F2A649;
    --contrast-color: #D9D9D9;
    --column-width: 1080px;
}

body {
    background-color: var(--text-color);
    font-family: Helvetica , Arial , sans-serif;
    margin-inline: 2em;
}

@media (min-width:800px){
    body {
        max-width: 720px;
        margin: auto;
    }
}

h1, h3, p {
    margin: 0;
}
.header-title{
    text-align: center;
    text-transform: uppercase;
    color: var(--text-color)
}

form{
    display: flex;
    flex-direction: column;
    color: var(--text-color)
}

.input-container {
    position: relative;
}

.input-container i {
    position: absolute;
    left: 1.5em;
    top: 1.8em;
    transform: translateY(-50%);
    color: var(--text-color);
}

form input, textarea {
    width: 100%;
    font-size: 1.2em;
    padding-block: .875em;
    padding-inline-start: 2.5em;
    margin-block: 0;
    border: none;
}

.search{
    border-bottom: 2px solid var(--contrast-color);
    
    border-radius: 99px;
    margin-bottom: 1em;
}

.title-input {
    border-radius: 40px 40px 0 0;
}

.description-input {
    border-top: 2px solid var(--text-color);
    border-bottom: 2px solid var(--contrast-color);
    border-radius: 0 0 40px 40px;
    resize: none; 
    font-family: inherit; 
    overflow-y: auto;
    scrollbar-width: none; 
}



.add-btn {
    margin-block-start: 0.275em;
    border-radius: 99px;
    background-color: var(--brand-color);
    color: blanchedalmond;
    text-align: center;
    cursor: pointer;
}

.add-btn:hover {
    background-color: var(--highlight-color);
}

.task {
    display: flex;
    background-color: var(--highlight-color);
    color: var(--text-color);
    margin-block: 0.5em;
    
    padding-block: .5em;
    padding-inline: 1em;
    border-radius: 99px;
}

.task-button {

    align-content: center;
    display: flex;
}

.task-button > button{
    height: 100%;
    width: 50%;
    padding-inline: .875em;
    border: none;
    background: none;
    color: inherit;
    cursor: pointer;
}

.task-container {
    margin-block-start: 1em;
}

.fa-solid {
    font-size: 1.5em;
}

button:hover{
    color: var(--contrast-color);
}

.task-text{
    text-align: left;
    /* background-color: aqua; */
    flex: 1;
    padding-inline: .5em;
}

.checkBox {
    display: block;
    align-self: center;
    cursor: pointer;
    width: 1.3em;
    height: 1.3em;
    border: 3px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 0px 2px burlywood;
    margin-inline-start: .5em;
}

.checkBox div {
    width: 60px;
    height: 60px;
    background-color: burlywood;
    top: -52px;
    left: -52px;
    position: absolute;
    transform: rotateZ(45deg);
    z-index: 100;
}

.checkBox input[type=checkbox]:checked + div {
    left: -10px;
    top: -10px;
}

.checkBox input[type=checkbox] {
    position: absolute;
    left: 50px;
    visibility: hidden;
}

.transition {
    transition: 300ms ease;
}

.hidden {
    display: none;
}
  
