*,
::before,
::after {
    box-sizing: border-box;
}

:root{
    --brand-color: #0072b0;
    --positive-color: rgb(46, 163, 46);
    --column-width: 1080px;
}

body {
    margin: unset;
    background-color: #eee;
    font-family: Helvetica , Arial , sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    min-width: 100px;
}

label {
    margin-top: 1em;
}

textarea{
    background-color: antiquewhite;
    min-width:100px;
}

/* form > * + * {
    margin-block-start: 0.2em;
} */

.add-btn {
    margin-top: 1.5em;
}





