body {
    background-color: lightgreen;
    font-family: Helvetica , Arial , sans-serif;
}

.player {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-block-start: 25px;
}

.track-art {
    margin: 25px;
    height: 250px;
    width: 250px;
    background-image: url("image1.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 5%;
}

.now-playing {
    font-size: 1rem;
}

.track-name {
    font-size: 3rem;
}

.track-artist {
    font-size: 1.5rem;
}




